<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./style.css" />
    <!-- <link href="./css/cirrus.css" rel="stylesheet" crossorigin="anonymous" /> -->
    <link href="https://cdn.jsdelivr.net/npm/cirrus-ui@0.6.2/dist/cirrus.min.css" rel="stylesheet" crossorigin="anonymous" />
    <!-- JavaScript -->
    <!-- <script src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/fd566e9240.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" /> -->
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
    <script src="https://kit.fontawesome.com/fd566e9240.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>

<body id="app">

    <div class="tablet-wrapper">
        <transition name="bounce">
            <div v-show="isBodyShow" class="tablet" :class="tablet_animation">
                <!-- modal -->
                <div class="modal modal-animated--zoom-in" id="structure-modal"><a href="#searchModalDialog"
                        class="modal-overlay close-btn" aria-label="Close"></a>
                    <div class="modal-content" role="document">
                        <div class="plate">
                            <img v-if="theme[1] == ''" src="./img/51GqXswA6TL.png" alt="" srcset="">
                            <img v-else src="./img/613tYoIulqL.png" alt="" srcset="">
                            <span v-if="theme[1] == ''" style="color: black;">{{this.vehInfo.plate}}</span>
                            <span v-else style="color: white;">{{this.vehInfo.plate}}</span>
                        </div>

                    </div>
                </div>

                <div class="modal modal-animated--zoom-in" id="ConfirmUpgrade-modal"><a
                        href="#ConfirmUpgradeModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
                    <div class="modal-content" role="document">
                        <div class="modal-body">
                            <div class="r">
                                <h3 class="font-alt font-light u-text-center">Confirm List?</h3>
                            </div>

                            <div class="my-1">
                                <div class="row">
                                    <template v-for="(upgrade,index) in upgrades" :key="upgrade.id">
                                        <div v-if="upgrade != false" class="col-6">
                                            <div class="tile"
                                                style="box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 6px, rgba(0, 0, 0, 0.03) 0px 3px 6px;">
                                                <div class="col-2">
                                                    <div class="row">{{index+1}}</div>
                                                </div>
                                                <div class="col-8" style="text-align: center;">
                                                    <div class="row">
                                                        <p class="tile__title m-0">{{upgradeOptions[0].name}}</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-section u-text-right">
                                <a href="#ConfirmUpgradeModalDialog">
                                    <button class="btn btn-small u-inline-block">Cancel</button>
                                </a>

                                <button class="btn-info btn-small u-inline-block"
                                    @click="upgrade($event)">Confirm</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal -->

                <!-- Alert -->
                <transition name="fade" mode="out-in">
                    <div v-if="alert.show" class="alert" :class="alert.color">
                        <div class="wrapper">
                            <div class="row">
                                {{alert.msg}}
                            </div>
                        </div>
                    </div>
                </transition>
                <!-- End Alert -->


                <img src="./background.png" alt="" srcset="">
                <div class="tabs-wrapper" :class="theme[0]">

                    <div class="tab-container" :class="theme[0]">
                        <ul>
                            <li v-for="(tab, index) in tabs" :key="tab.name" @click="selectTab(index)"
                                :class='{"selected": (index == selectedIndex)}'>
                                <div class="tab-item-content" :class="theme[0]">{{tab.name}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="row tab-content" :class="theme[0]">

                        <transition name="fade">
                            <div class="col-8" v-if="selectedIndex == 0">
                                <div class="card" :class="theme[1]">
                                    <p class="title"> Vehicle details :</p>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="input-control">
                                                    <input type="text" class="input-contains-icon" placeholder="model"
                                                        :value="`${charinfo.firstname} ${charinfo.lastname}`" />
                                                    <span class="icon">
                                                        <i class="fas fa-id-badge text-dark"></i>
                                                    </span>
                                                    <span class="info u-text-center">Owner Name</span>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="input-control">
                                                    <input @click="copy($event)" type="text" class="input-contains-icon"
                                                        placeholder="model" :value="charinfo.cid" />
                                                    <span class="icon">
                                                        <i class="far fa-id-card text-dark"></i>
                                                    </span>
                                                    <span class="info u-text-center">Owner ID</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-control">
                                                    <input @click="copy($event)" type="text" class="input-contains-icon"
                                                        placeholder="phone number" :value="charinfo.phone" />
                                                    <span class="icon">
                                                        <i class="fas fa-mobile-alt text-dark"></i>
                                                    </span>
                                                    <span class="info u-text-center">Phone
                                                        number</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-control">
                                                    <input @click="copy($event)" type="text" class="input-contains-icon"
                                                        placeholder="model" :value="vehInfo.model" />
                                                    <span class="icon">
                                                        <i class="fas fa-car text-dark"></i>
                                                    </span>
                                                    <span class="info u-text-center">Vehicle model</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-4">
                                                <div class="input-control">
                                                    <input disabled type="text" class="input-contains-icon"
                                                        placeholder="Current weight"
                                                        :value="`${vehInfo.currentWeight/1000} kg`" />
                                                    <span class="icon">
                                                        <i class="fas fa-weight-hanging text-dark"></i>
                                                    </span>
                                                    <span class="info u-text-center">Current carry weight</span>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="input-control">
                                                    <input disabled type="text" class="input-contains-icon"
                                                        placeholder="Max carry weight"
                                                        :value="`${vehInfo.maxCarryCapacity/1000} kg`"
                                                        :class="isMaxCarryCapacity() ? ' bg-danger text-light' : '  bg-success text-light' " />
                                                    <span class="icon">
                                                        <i class="fas fa-balance-scale-left text-dark"></i>
                                                    </span>
                                                    <span class="info u-text-center">Max carry weight</span>
                                                </div>

                                            </div>
                                            <div class="col-4">
                                                <div class="input-control">
                                                    <input disabled type="text" class="input-contains-icon"
                                                        placeholder="1x upgrade cost" :value="stepPrice" />
                                                    <span class="icon">
                                                        <i class="fas fa-dollar-sign text-dark"></i>
                                                    </span>
                                                    <span class="info u-text-center">1x upgrade cost</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card__action-bar u-center">

                                        <a href="#structure-modal">
                                            <button class="btn-link outline" :class="theme[1]">
                                                Vehicle plate
                                            </button>
                                        </a>
                                        <button class="btn-link outline" :class="theme[1]">Go here</button>
                                    </div>
                                </div>
                            </div>
                        </transition>

                        <transition name="fade">
                            <div class="col-4" v-if="selectedIndex == 0">
                                <div class="card" :class="theme[1]" style="max-width: 350px;">

                                    <p class="title"> Choice Upgrade:</p>

                                    <div class="content">
                                        <div class="row">
                                            <template v-for="(options,index) in upgradeOptions" :key="options.id">
                                                <div class="form-ext-control form-ext-checkbox">
                                                    <input :disabled="options.active" :checked="options.active"
                                                        :id="`my-checkbox-${options.dataID}`"
                                                        class="form-ext-input form-ext-input--info" type="checkbox" />
                                                    <label class="form-ext-label"
                                                        :for="`my-checkbox-${options.dataID}`">{{options.name}}</label>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="card__action-bar u-center">
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="upgradeBtn" class="row" style="display: flex;justify-content: center;">
                                                    <button class="btn-link outline" :class="theme[1]"
                                                        @click="updateUpgradeListConfirmation()">
                                                        upgrade
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card__footer">
                                        <div class="u-text-center"><span>This is additional footer text in
                                                <code>card__footer</code>.</span></div>
                                    </div>
                                </div>
                            </div>
                        </transition>

                        <transition name="fade">
                            <div v-if="selectedIndex == 1">
                                <!-- vehicle history -->
                            </div>
                        </transition>

                        <transition name="fade">

                            <!-- payment history -->
                            <div v-show="selectedIndex == 2" class="row">
                                <div id="myGrid"></div>
                            </div>

                        </transition>

                        <transition name="fade">
                            <div v-if="selectedIndex == 3">
                                <!-- settings -->
                                <div class="form-ext-control">
                                    <label class="form-ext-toggle__label"><span>Theme Toggle</span>
                                        <div class="form-ext-toggle">
                                            <input name="toggleCheckbox" v-model="settingsCheckbox1" type="checkbox"
                                                class="form-ext-input" />
                                            <div class="form-ext-toggle__toggler"><i></i></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </transition>
                    </div>

                </div>
            </div>

    </div>
    </transition>
    </div>



</body>

<script src="./app.js"></script>

</html>