<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI</title>
    <!-- CSS -->
    <link href="./css/cirrus.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style.css" />
    <!-- JavaScript -->
    <script src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
</head>

<body id="app">
    <button @click="toggleBody()"> open </button>

    <div class="tablet-wrapper">
        <transition name="bounce">
            <div v-show="isBodyShow" class="tablet" :class="tablet_animation">
                <!-- modal -->
                <div class="modal modal-animated--zoom-in" id="structure-modal"><a href="#searchModalDialog"
                        class="modal-overlay close-btn" aria-label="Close"></a>
                    <div class="modal-content" role="document">
                        <div class="plate">
                            <img v-if="theme[1] == ''" src="./img/51GqXswA6TL.png" alt="" srcset="">
                            <img v-else src="./img/613tYoIulqL.png" alt="" srcset="">
                            <span v-if="theme[1] == ''" style="color: black;">{{this.vehInfo.plate}}</span>
                            <span v-else style="color: white;">{{this.vehInfo.plate}}</span>
                        </div>

                    </div>
                </div>
                <!-- end modal -->

                <!-- Alert -->
                <transition name="fade" mode="out-in">
                    <div v-if="alert.show" class="alert" :class="alert.color">
                        <div class="wrapper">
                            <div class="row">
                                {{alert.msg}}
                            </div>
                        </div>
                    </div>
                </transition>
                <!-- End Alert -->


                <img src="./background.png" alt="" srcset="">
                <div class="tabs-wrapper" :class="theme[0]">

                    <div class="tab-container" :class="theme[0]">
                        <ul>
                            <li v-for="(tab, index) in tabs" :key="tab.name" @click="selectTab(index)"
                                :class='{"selected": (index == selectedIndex)}'>
                                <div class="tab-item-content" :class="theme[0]">{{tab.name}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="row tab-content" :class="theme[0]">

                        <transition name="fade">
                            <div class="col-8" v-if="selectedIndex == 0">
                                <div class="card" :class="theme[1]">
                                    <p class="title"> Vehicle details :</p>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-4">Firstname: <code>{{charinfo.firstname}}</code></div>
                                            <div class="col-4">Lastname: <code>{{charinfo.lastname}}</code></div>
                                            <div class="col-4">
                                                <label class="tooltip tooltip-bottom" data-tooltip="Owner ID">
                                                    <input @click="copy($event)" type="text" :value="charinfo.cid" />
                                                </label></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <input @click="copy($event)" id="phoneNumb" type="tel"
                                                    :value="charinfo.phone" />
                                                <span class="info u-text-center">Phone
                                                    number</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <label class="tooltip tooltip-bottom" data-tooltip="Current weight">
                                                    <input type="text" :value="`${charinfo.currentWeight/1000} kg`" />
                                                </label>
                                                </span>
                                            </div>

                                            <div class="col-4">
                                                <label class="tooltip tooltip-bottom" data-tooltip="Max Carry weight">
                                                    <input type="tel" :value="charinfo.phone" />
                                                </label>
                                            </div>
                                            <div class="col-4">
                                                <label class="tooltip tooltip-bottom" data-tooltip="1x upgrade price">
                                                    <input type="tel" :value="`${stepPrice} $`" />
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card__action-bar u-center">

                                        <a href="#structure-modal">
                                            <button class="btn-link outline" :class="theme[1]">Plate</button>
                                        </a>
                                        <button class="btn-link outline" :class="theme[1]">Go here</button>
                                    </div>
                                    <div class="card__footer">
                                        <div class="u-text-center"><span>Vehicle model ==>
                                                <code>{{vehInfo.model}}</code></span></div>
                                    </div>
                                </div>
                            </div>
                        </transition>

                        <transition name="fade">
                            <div class="col-4" v-if="selectedIndex == 0">
                                <div class="card" :class="theme[1]" style="max-width: 350px;">

                                    <p class="title"> Choice Upgrade:</p>

                                    <div class="content">
                                        <div class="row">
                                            <template v-for="(options,index) in upgradeOptions" :key="options.id">
                                                <input :disabled="options.active" :id="`my-checkbox-${options.dataID}`"
                                                    class="checkbox-button" type="checkbox" name="checkbox-button" />
                                                <label :for="`my-checkbox-${options.dataID}`"
                                                    class="button style-blue">{{options.name}}</label>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="card__action-bar u-center">
                                        <div class="row">
                                            <div class="col-6">
                                                <button class="btn-link outline" :class="theme[1]"
                                                    @click="upgrade()">upgrade</button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn-link outline" :class="theme[1]">here</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card__footer">
                                        <div class="u-text-center"><span>This is additional footer text in
                                                <code>card__footer</code>.</span></div>
                                    </div>
                                </div>
                            </div>
                        </transition>

                        <transition name="fade">
                            <div v-else-if="selectedIndex == 1">
                                <!-- vehicle history -->
                            </div>
                        </transition>

                        <transition name="fade">
                            <div v-else-if="selectedIndex == 2">
                                <!-- payment history -->
                            </div>
                        </transition>

                        <transition name="fade">
                            <div v-if="selectedIndex == 3">
                                <!-- settings -->
                                <div class="form-ext-control">
                                    <label class="form-ext-toggle__label"><span>Theme Toggle</span>
                                        <div class="form-ext-toggle">
                                            <input name="toggleCheckbox" v-model="settingsCheckbox1" type="checkbox"
                                                class="form-ext-input" />
                                            <div class="form-ext-toggle__toggler"><i></i></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </transition>
                    </div>

                </div>
            </div>

    </div>
    </transition>
    </div>


</body>

<script src="./app.js"></script>

</html>